
.title {
	display: flex;
	align-items: center;
}
.title>h2 {
	font-size: 2em;
}

.error{
	font-family: monospace;
	color:red;
	font-weight: bold;
}

table, th, td {
    border: 2px solid;
  }


  table {
    /* width: 100%; */
    border-collapse: collapse;
    border-color: rgb(220, 30, 100); 
  }

  body {
    background-image: url('/images/valentine.png');
    background-color:blanchedalmond;
  }

  .bold {
    font-weight: bold;
  }

  .error{
    font-family: monospace;
    color:red;
    font-weight: bold;
  }


